* { padding: 0px; margin :0px; }
@font-face {
font-family:'Futura-CondensedMedium';
src:url('../fonts/futura/Futura-CondensedMedium.eot');
src:url('../fonts/futura/Futura-CondensedMedium.eot') format('embedded-opentype'), 
	url('../fonts/futura/Futura-CondensedMedium.woff') format('woff'), 
	url('../fonts/futura/Futura-CondensedMedium.ttf') format('truetype'), 
	url('../fonts/futura/Futura-CondensedMedium.svg') format('svg');
font-weight:normal;
font-style:normal;
}
ul, li { list-style: none; }
.mainContainer { }
.containerPlayer, .containerSource {/* display:inline-block; float:left; padding:10px; margin:0px 10px; */}

.snippet { width:70%; border:1px solid #ccc; border-radius:5px; min-height:280px; max-height:280px; color:#fff; background-color:#343434; margin-top:1rem;  }
.snippet:nth-child(2) { margin-top:2rem; }
.snippet pre { max-height:230px; padding:5px; }
.snippet h4 { padding:10px; color:#343434; background-color:#00bd9b; }

/* Playlist */
#listContainer { width:100%; background-color:#fafafa;  }
#listContainer ul { background-color: #fafafa; clear: both; cursor: pointer;  }
#listContainer li { padding:10px; }
#listContainer li:nth-child(even) {}
#listContainer li:hover, #listContainer li:nth-child(even):hover { }
#listContainer li a { text-decoration: none; color:#4e4f4f; }
#listContainer li.activeAudio {  }


/* Player Controls */
#playerContainer { width:100%; height:130px; }
.controls li:first{margin-right:10px}
.controls li { float:left; display:inline-block; width:50px; text-align:center; margin-top:8px;margin-left:10px }

.controls li a { display:inline-block; }
.playAudio,.play { background-image:url(../img/pause.png); background-repeat:no-repeat; background-size:23px; width: 23px; height: 30px; margin:auto; }
/*.playAudio:hover { background-image:url(../img/pause.png); background-repeat:no-repeat; background-size:23px; }*/
.pauseAudio { background-image:url(../img/ply.png); background-repeat:no-repeat; background-size:26px; width: 26px; height: 30px; margin:auto; }
/*.pauseAudio:hover { background-image:url(../img/ply.png); }*/
.shuffle { display:none !important; background: url('../img/audio/audio_icons.png') no-repeat -28px -96px; width: 32px; height: 32px; margin:auto; }
.shuffleActive, .shuffle:hover { background: url('../img/audio/audio_icons.png') no-repeat -28px -71px; width: 32px; height: 32px; margin:auto; }
.left { background-image:url(../img/lft.png); background-repeat:no-repeat; background-size:31px; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.left.disabled, .right.disabled { opacity:0.4; cursor:default; }
.right { background-image:url(../img/rgt.png); background-size:31px; background-repeat:no-repeat; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.repeat { display:none !important; background: url('../img/audio/audio_icons.png') no-repeat -4px -103px; width: 21px; height: 21px; margin:auto; margin-top:7px; }
.repeat:hover, .repeat.loopActive { background: url('../img/audio/audio_icons.png') no-repeat -4px -79px; }
.volume { width: 20px; height: 20px; margin-left:5px; margin-right:5px; float:left; background: url('../img/audio/audio_icons.png') no-repeat; }
.volume1 { background-position: -5px -150px; }
.volume2 { background-position: -5px -198px; }
.volume3 { background-position: -5px -246px; }
.mute { background-position: -34px -127px; }
.progress { clear:both; height:4px; background-color:#666666; width:100%; cursor:pointer; position:relative; }
.progress .updateProgress { width:0px; background-color:#f4141a; height:100%; float:left; position:relative; }
.volumeControl { position: relative; margin: 8px auto; }
.volumeControl .updateProgress { display:inline-block; vertical-align:middle; margin-top:2px; }
input[type="range"] { -webkit-appearance: none; -moz-appearance: none; background-color: #00BD9B; height: 2px; }
.audioDetails { clear:both; color:#fff; font-size:13px; padding:5px; }
.audioTime { text-align: right; margin-bottom:10px; }
.songPlay {  }
.seekableTrack { width: 0%; background-color:#666666; height: 4px; position: absolute; z-index: 0; display: block; }
.seekableTrack, .progress .updateProgress { -webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; }

.bdr1 { width:90%; height:2px; background-color:#818181; display:inline-table; float:right;}
.snd_trks { width:100%; float:left; display:inline-table;}
.snd_trks ul { margin:0px; padding:0px;}
.snd_trks ul li { list-style:none; font-size:20px; float:left; width:100%; position:relative;}
.snd_trks ul li a { font-size:18px; width:100%; position:relative; float:right; text-transform: capitalize;  padding:10px; color:#fff !important; text-decoration:none;  border-bottom:solid 1px #818181;} 
.snd_trks ul li a h2 { font-size:18px; padding:0px 0px 0px 0; margin:7px 0 0 0; font-family:'Futura-CondensedMedium';}
.snd_trks #listContainer li { padding:0px;}
.trk_ply { width:100%; display:inline-table; background-color:#ff9200; padding:10px; margin-top:15px;
position: fixed;
    bottom: 68px;     z-index: 99;}
.trk_ply .st_img { float:left; width:55px; margin-right:10px; }
.trk_ply .st_img img { width:100%; -webkit-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);}
.trk_ply .st_tit { float:left; width:120px; height:25px; overflow:hidden; margin-right:5px; font-family:'Wicked Grit'; font-size:20px; color:#fff; line-height:24px; margin-top:15px;}
.trk_ply .st_cnr { float:right; width:100px; margin-top:25px;     margin-top: 18px;}
.trk_ply .st_cnr .pse { width:30px; height:30px; float:left; background-image:url(../img/pause.png); background-repeat:no-repeat; background-size:20px; margin-right:15px;}
.trk_ply .st_cnr .fwd { width:30px; height:30px; float:left; background-image:url(../img/frd.png); background-repeat:no-repeat; background-size:30px; }
.sng_blk { width:100%; position:absolute; z-index:9999; display:inline-table; background-color:#a62426; padding:15px; left:0px;}
.sng_img { width:80%; margin-left:auto; margin-right:auto;     -webkit-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
    -moz-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
    box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);}
.sng_img img { width:100%; }
.sng_blk #playListContainer { display:none;}
.sng_blk .progress { margin-bottom:2px;}
.sng_blk h2 { font-size:24px; text-align:center; margin:0 0 10px 0;}
.sng_blk h3 { font-family:'Futura-CondensedMedium'; color:#fff; font-size:20px; text-align:center; margin:0 0 15px 0;}
.st_tit .audioDetails { padding:0px; text-align:left;}
.st_tit .songPlay { font-size:17px; font-family:'Futura-CondensedMedium'; text-transform:uppercase;}
.st_cnr .left { float:left;   margin-right: 15px; background-size: 25px; width: 25px; height: 25px;}
.st_cnr .play { float:left; width:17px;     margin-top: 2px; height:20px; background-size: 17px;}
.st_cnr .right { float:right;     background-size: 25px; width: 25px; height: 25px;}
.trk_ply #playerContainer { height:auto; }
.dwn_aro { width: 57px;  margin: 0 auto; margin-top: -27px; display: block; margin-bottom: 10px; height: 20px; background-repeat: no-repeat; /* float: left; */ background-image: url(../img/sng_bg.png); background-size: 58px;}
.controls { width:180px; margin:0 auto;}
.sdt_sol { width:100%; float:left;}
.sdt_sol .snk { width:30px; height:30px; float:left; background-image:url(../img/snk.png); background-size:30px; background-repeat:no-repeat;}
.sdt_sol .shtdt { width:30px; height:30px; float:right; background-image:url(../img/shr.png); background-size:26px; background-repeat:no-repeat;}
.uparo {    width: 35px;  height: 20px; left: 47%; position: absolute; /* background-image: url(../img/sng_bg2.png); */ background-size: 34px; background-repeat: no-repeat; margin-top: -10px;}
.trk_img { width:20%; float:left; margin-right:5%; position:relative;}
.trk_img img { width:100%;}
.trk_img .play {   width: 30px;
    height: 30px;
    background-image: url(../img/play.png);
    position: absolute;
    background-size: 100%;
       top: 32%;
    left: 30%;}
.trk_cn { float:left; width:75%; text-align:left;}
.trk_cn p { font-size:16px; color:#7d7d7d; font-style:italic; margin-bottom:0px;     margin-top: 6px; font-family:'Futura-CondensedMedium';}
.trk_menu {
    background-image: url(../img/trk_menu.png);
    width: 9px !important;
    height: 27px;
    position: absolute !important;
    right: 11px;
    background-repeat: no-repeat;
    background-size: 6px;
    top: 33%;
    padding: 0 !important;
    border: none !important;}
.trk_blk { width:100%; display:inline-table; background-image:url(../images/soundtrk_bg.jpg); background-size: cover;}
.trk_inf { width:100%; display:inline-table; padding-bottom:20px; margin-top: 20px;}
.trk_inf .trk_img { width:100%; height:auto; float: left; margin-right:15px;}
.trk_inf .trk_img img { width:100%;}
.trk_inf .trk_dt { float:left; width:100%; height:auto; position:relative}
.trk_inf .trk_dt h2 { font-size:19px; color:#fff; margin-top:0px;}
.trk_inf .trk_dt h3 { font-family:'Futura-CondensedMedium';  margin-top: 15px; font-size:18px; color:#d70808;}
#controlContainer { width:97%; margin:0 auto;}
.share { width:100%; height:100%; left:0px; position:fixed; padding-top:30%; background-image:url(../img/share_bg.png); background-repeat:repeat; z-index:9999;}
.share .share_wrp { width:300px; background-color:#e3e1e2;      margin-top: 20%;   display: inline-block; border-radius:5px; margin:0 auto;}
.share .share_wrp .trk_det { width:100%; float:left; padding:15px;}
.trk_det .trk_detimg { width:20%; float:left; margin-right:5%; -webkit-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);}
.trk_det .trk_detimg img { width:100%;}
.trk_det .trk_detcn { width:70%; float:left; text-align: left; font-family:'Futura-CondensedMedium';}
.trk_det .trk_detcn h2 { font-size:18px; text-transform:uppercase; color:#000; margin:3px 0 5px 0; font-family:'Futura-CondensedMedium';}
.trk_det .trk_detcn p { font-size:13px; font-style:italic; color:#8a8989; margin:0px;}
.share .shr_blk1 { width:100%; float:left; border-top:solid 1px #adadad; height:50px; padding:10px;}
.share .shr_blk1 a { width:25px; height:25px; float:left; margin: 0 8px 0 7px; background-repeat:no-repeat; background-size:25px;}
.share .shr_blk1 .pop_fb { background-image:url(../img/pop_fb.png);}
.share .shr_blk1 .pop_twitter { background-image:url(../img/pop_twitter.png);     margin-top: 3px;}
.share .shr_blk1 .pop_youtube { background-image:url(../img/pop_youtube.png);     background-size: 20px;}
.share .shr_blk1 .pop_ingm { background-image:url(../img/pop_ingm.png);}
.share .shr_blk1 .pop_pintrest { background-image:url(../img/pop_pintrest.png);}
.share .shr_blk1 .pop_t { background-image:url(../img/pop_t.png); background-size: 13px; background-position: 7px 0px;}
.share .shr_blk1 .pop_gplus { background-image:url(../img/pop_gplus.png);     margin-top: 4px;}
.share .share_cancel { width:300px; background-color:#e3e1e2; padding:6px 0px; color:#ff9200; font-size:20px; text-align:center; font-family:'Futura-CondensedMedium'; margin-top:10px; display:block; border-radius:5px; margin:0 auto;}
